{% extends 'formapp/SideBar.html'%} {% block content %}
<div>
  <h1 class="w3-display-topmiddle">Referanslar</h1>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>Python Kurulumu</h3>
    <a href="https://www.youtube.com/watch?v=Mje0H2cPb20" target="_blank"
      >https://www.youtube.com/watch?v=Mje0H2cPb20</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>PostgreSQL kurulumu</h3>
    <a href="https://www.postgresql.org/" target="_blank"
      >https://www.postgresql.org/</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>Psycopg kurulumu</h3>
    <a
      href="https://www.psycopg.org/psycopg3/docs/basic/install.html"
      target="_blank"
      >https://www.psycopg.org/psycopg3/docs/basic/install.html</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>Django kurulumu</h3>
    <a
      href="https://docs.djangoproject.com/en/4.1/topics/install/"
      target="_blank"
      >https://docs.djangoproject.com/en/4.1/topics/install/</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>Django kullanımının öğrenilmesi</h3>
    <a
      href="https://docs.djangoproject.com/en/4.1/intro/tutorial01/"
      target="_blank"
      >https://docs.djangoproject.com/en/4.1/intro/tutorial01/</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>Database bağlantısı</h3>
    <a
      href="https://docs.djangoproject.com/en/4.1/ref/settings/#std-setting-DATABASES"
      target="_blank"
      >https://docs.djangoproject.com/en/4.1/ref/settings/#std-setting-DATABASES</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>Jinja template kurulumu</h3>
    <a
      href="https://jinja.palletsprojects.com/en/3.1.x/intro/#installation"
      target="_blank"
      >https://jinja.palletsprojects.com/en/3.1.x/intro/#installation</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>Django ile jinja kullanımı</h3>
    <a href="https://www.youtube.com/watch?v=PeMsRfSx_Ig" target="_blank"
      >https://www.youtube.com/watch?v=PeMsRfSx_Ig</a
    >
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-bottombar w3-border-red mt-5">
    <h3>% block content % kullanımını öğrenmek için</h3>
    <a href="https://vegibit.com/django-block-content/" target="_blank"
      >https://vegibit.com/django-block-content/</a
    >
  </div>
</div>
{% endblock %}
